# Source Terraform Identifier: {{ identity }}
# Source Workspace Url: {{ workspace_url }}
# Raw JSON to generate the hcl is below (the annotations are implementation details please ignore):
{{ raw_json }}

{{ hcl_code }}