.terraform
.git
.idea
etc
scripts
website
vendor
dist
examples
venv
tests
databricks_sync.egg-info
build
databricks_sync/hcl/json2hcl.h
databricks_sync/hcl/json2hcl.so
.tox
.pytest_cache
dask-worker-space